*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  max-width: 500px;
  margin: 100px auto;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #333;
}

.todo-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
button{
  width: 100%;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
}

.todo-header{
text-align: center;
color: yellow;

}

button:hover{
  background-color: #333;
  color: white;
}
.error{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  margin-top: 5px;
}
